.iframeContainer {
    width: 60vw;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio, adjust as needed */
    overflow: hidden;
    position: relative;
    margin-left: 30vw;
    background-color: #fff;
  }
  
  .iframeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    
  }
  
  .zoomControl {
    margin-top: 20px;
  }
  
  .zoomControl input {
    width: 100%;
  }
  