#dropdown-basic::after {
    display: none;
}
.actionButtonDropDown {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f8f9fa;
    border-radius: 50px;
}
