.color-nav {
  background-color: "#B06AB3";
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #b06ab3 0%, #4568dc 100%);

  height: 200px;
}

.box {
  width: 100%;
  height: 27%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1000;
}

.stack-top {
  z-index: 9;
  margin: 20px; /* for demo purpose  */
  margin-top: 5%;
  margin-left: 30%;
}
