.dropDown{
    position: absolute;
    background: #fff;
    border-radius: 5px;
    right: 0;
    top: 20px;
    min-width:  100px;
}
.selectOptions{
    margin: 0;
    padding: 3px 8px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.selectOptions:hover{
    background-color: rgb(222, 222, 222);
}