.my-facebook-button-class{
    cursor: pointer;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 8px 15px;
    background-color: rgb(80, 80, 220);
    color: white;
    font-size: 15px;
}

.my-instagram-button-class{
    cursor: pointer;
    border: none;
    width: 38%;
    border-radius: 3px;
    padding: 8px 15px;
    background-color: #EE2124;
    color: #fff;
    font-size: 15px;
}

@media (max-width: 450px) {
    .my-instagram-button-class{
        cursor: pointer;
        border: none;
        width: 60%;
        border-radius: 3px;
        padding: 8px 15px;
        background-color: #EE2124;
        color: #fff;
        font-size: 15px;
    }
}