/* .group .rowCard:hover {
  background-color: lightgray;
} */

/* .group .bodyTd {
  padding: 1.5rem 1rem !important;
  text-align: center !important;
  vertical-align: middle !important;
} */

/* .group .rowCard:nth-child(4) {
  box-shadow: 0px 1px 0px 4px rgba(203,203,203,0.87)
} */

/* .group .rowCard .bodyTd{
  border-top: 1px solid black;
  border-bottom: 1px solid black;

} */

/* .group .rowCard .bodyTd:nth-child(7)
{
  border-left: 1px solid black;
} */

/* 
.group .rowCard:nth-child(1) .bodyTd:nth-child(6),
.group .rowCard:nth-child(5) .bodyTd:nth-child(6)
{
  border-right: 1px solid black;
}

.group tbody .rowCard:nth-child(5) .bodyTd {
  border-top: 1px solid black !important;
} */

/* table {
  border-collapse: separate;
  border-spacing: 0 1em;
} */
