.chart {
  height: 66vh;
  width: 80vw;
  padding: 1px 0px 20px 0px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px 0 20px 0;
}

.chart:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
