.notification >img{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
 }   

 @media screen and (min-width: 481px) and (max-width: 768px) {
    .notification{
        margin: 0px;
        padding: 0px;
    }
   .notification >img{
      height: 15px;
      width: 15px;
      margin: 0px;
      padding: 0px;
   } 
   .dropdown-menu{
      width: 100%;
   }
} 

@media screen and (min-width: 320px) and (max-width: 480px) {
     .notification{
        margin: 0px;
        padding: 0px;
    } 

   .notification >img{
      height: 15px;
      width: 15px; 
      margin: 0px;
      padding: 0px;
   }
   .dropdown-menu{
      width: 100%;
   }

}
