.profile_pic {
    border: 4px solid white;
    height: 68px;
    width: 68px;
}

@media (max-width: 500px) {
    .profile_pic {
        border: 4px solid white;
        height: 50%;
        width: 50%;
    }
}

