#dropdown-basic-button::after{
    display: none;
}
 .candybar__dropdown >img{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
 }   

 @media screen and (min-width: 481px) and (max-width: 768px) {
    .candybar__dropdown{
        margin: 0px;
        padding: 0px;
    }
   .candybar__dropdown >img{
      height: 15px;
      width: 15px;
      margin: 0px;
      padding: 0px;
   } 
} 

@media screen and (min-width: 320px) and (max-width: 480px) {
     .candybar__dropdown{
        margin: 0px;
        padding: 0px;
    } 

   .candybar__dropdown >img{
      height: 15px;
      width: 15px; 
      margin: 0px;
      padding: 0px;
   }

}
