.profile_picture {
    border: 4px solid white;
}
.icons {
    height: 24px;
    width: 24px;
}

@media (max-width: 500px) {
    .profile_picture {
        border: 4px solid white;
        height: 100%;
        width: 100%;
    }
}
