.tableHeader tr:first-child th:nth-child(1),
.tableHeader tr:first-child th:nth-child(2),
.tableHeader tr:first-child th:nth-child(3) {
     padding-left: 120px !important;
     border-bottom: 3px solid black !important;
     border-right: 20px solid white !important;
}
