.sectionTitleCont{
    margin-block: 0;
    padding-top: 1rem;
    padding-inline: 20px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: top;
}
.sectionTitle {
    line-height: 14px;
    margin-left: 10px;
    width:100%
}
.sectionTitleCont:hover {
    background-color: #3f3f3f;
}
