.topNav {
    padding: 10px 30px;
    border-bottom: 0.2px solid #ffffff60;
    background-color: #242424;
    height: 50px;
}
.topNavCol{
        display: flex;
        align-items: center;
        gap: 15px;
        color:#fff;
        transition: all 300ms ease-in-out;

    }

.topNavCol:hover{
    text-decoration: none;
    color: #cccccc;
}
.svgCont {
    margin-bottom: -15px;
}
.btnCont {
    margin-bottom: 0;
    font-size: 12px;
}

