.card {
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}
.title {
    font-size: 15px;
    font-weight: 600;
}
.overlayContent {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #000000af;
}
.card:hover .overlayContent {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.overlayButton {
    padding: 8px 0;
    background-color: #ffffff00;
    color: #fff;
    border: 1px solid #fff;
    width: 150px;
    font-size: 14px;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #fff;
        color: #000;
        transition: all 0.3s ease-in-out;
    }
}
