.cell,
.event-cell {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    min-height: 60px;
    text-align: center;
    min-width: 150px;
    max-width: 150px;
    line-height: 50px;
    vertical-align: middle;
    background-color: #343A40;
    color: #fff;
}

.event-cell {
    max-width: 150px;
    background-color: #343A40;
    color: #fff;
}

.day-row,
.time-row,
.events-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #343A40;
    color: #fff;
} 

 .day-row {
    position: sticky;
    background-color: #343A40;
    color: #fff;
    top: 0;
    z-index: 998;
} 

 .wrapper {
    overflow: auto;
    position: relative;
    min-height: 50px;
    height: 90vh;
}

.schedular-content {
    position: absolute;
    display: flex;
    z-index: 997;
}

.draggable.dragging {
    opacity: 0.5;
}

.draggable-event.dragging {
    opacity: 0.5;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.time {
    width: 100%;
    min-height: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #343A40;
    color: #fff;
}

.right-floating-menu .btn-primary {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0px;
    border: 0px;
}

.right-floating-menu .dropleft .btn-primary:focus {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 0px #fff;
}

.right-floating-menu .btn-primary:hover {
    color: #fff;
    background-color: white !important;
    border-color: white !important;
}

.dropleft .dropdown-menu {
    border: none;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 15px;
}

.dropdown-header {
    padding-top: 4px;
    padding-bottom: 4px;
}

.rem {
    display: none;
}

.event-desc {
    font-weight: bold;
    font-size: 10px;
    padding-left: 5px;
    line-height: 7px;
    vertical-align: middle;
    text-align: start;
}

.event-time {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px;
    vertical-align: middle;
    text-align: start;
}

.event-dayOfWeek {
    font-weight: bold;
    font-size: 10px;
    padding-left: 5px;
    line-height: 7px;
    vertical-align: middle;
    text-align: start;
    background-color: #343A40;
    color: #fff;
}

.event-date {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px;
    vertical-align: middle;
    text-align: start;
}

.schedular-content:hover {
    background-color: rgb(140, 190, 214) !important;
    width: 150px !important;
    z-index: 998;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.4s 0.1s ease;
    -moz-transition: all 0.4s 0.1s ease;
    -o-transition: all 0.4s 0.1s ease;
    transition: all 0.4s 0.1s ease;
}

#fitness-dropdown {
    width: 200px;
}
