.cell,
.event-cell {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-height: 60px;
  text-align: center;
  min-width: 150px;
  line-height: 50px;
  vertical-align: middle;
}

.event-cell {
  min-height: 115px;
}

.day-row,
.time-row,
.events-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .schedular {
  border: 1px solid #ddd;
} */

.day-row {
  position: sticky;
  top: 0;
  z-index: 998;
}

.wrapper {
  width: 100%;
  overflow: auto;
  position: relative;
  min-height: 50px;
  height: 500px;
}

.schedular-content {
  position: absolute;
  min-width: 120px;
  z-index: 997;
  height: 70px;
}

.draggable.dragging {
  opacity: 0.5;
}

.draggable-event.dragging {
  opacity: 0.5;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.time {
  width: 100%;
  min-height: 15px;
  position: relative;
}

.right-floating-menu .btn-primary {
  color: #fff;
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0px;
  border: 0px;
}

.right-floating-menu .dropleft .btn-primary:focus {
  color: #fff;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: 0 0 0 0px #fff;
}

.right-floating-menu .btn-primary:hover {
  color: #fff;
  background-color: white !important;
  border-color: white !important;
}

.dropleft .dropdown-menu {
  border: none;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 15px;
}

.dropdown-header {
  padding-top: 4px;
  padding-bottom: 4px;
}
