.react-calendar {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}