.side_nav_cont {
    position: fixed;
    height: 100vh;
    z-index: 2;
    background-color: #242424;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    top:50px;
    width: 260px;
    max-width: 260px;
}
