.changemaker {
     width: 11%;
     align-items: center;
     display: flex;
     flex-direction: column;
}
.changemakerRow {
     display: flex;
     flex-direction: row;
     overflow: scroll;
}
.changemakerText {
     align-items: center;
}
.desc {
     margin-top: -6px;
}

@media (max-width: 900px) {
     .changemaker {
          width: 30%;
          margin-left: 20px;
     }
}
