.customButton{
    background-color: #339B31;
    padding: 0 7rem;
    border-radius: 20px;
    border: none;
    outline: none;
}

.customButton:focus{
    box-shadow: none;
}

.carousel-control-prev-icon{
    background-image: url('../../../../img/left.svg');
}

.carousel-control-next-icon{
    background-image: url('../../../../img/right.svg');
}

.beginnerTag {
    background-color: #04BEBD;
}

.intermediateTag{
    background-color: #D7A72E;
}

.advancedTag{
    background-color: #DB5461;
}
