.dropzone {
     border: 2px dashed gray;
     box-shadow: 6px 5px 5px lightgray;
}

.dropArea {
     width: 60vw;
     position: relative;
}

.crop-container {
     position: absolute;
     width: 70vw;
     height: 40vh;
     background-color: white;
}

.controls {
     width: 10vw;
     position: absolute;
     left: 50%;
     bottom: 0%;
}

.uploadButton {
     position: absolute;
     bottom: -20%;
     right: 0%;
     width: 10vw;
     height: 30px;
     text-align: center;
     align-items: center;
     border-radius: 6px;
}

@media (max-width: 500px) {
     .dropArea {
          width: 100%;
          position: relative;
     }

     .crop-container {
          position: absolute;
          width: 90vw;
          height: 52vh;
          background-color: white;
     }

     .uploadButton {
          width: 30%;
          border-radius: 5px;
     }

     .controls {
          position: absolute;
          bottom: 1%;
          width: 25%;
          height: 10px;
     }
}