.dropzone {
     border: 2px dashed gray;
     box-shadow: 6px 5px 5px lightgray;
}
.dropArea {
     width: 70%;
}

.crop-container {
     position: absolute;
     width: 85%;
     height: 120%;
     top: 0px;
     left: 0;
     right: 0;
     bottom: 0px;
     margin-bottom: 10px;
     background-color: black;
}
.controls {
     position: absolute;
     padding: 5px;
     margin-bottom: 30px;
     top: 260px;
     bottom: 0;
     left: 30%;
     width: 20%;
     /* transform: translateX(-50%); */
     height: 10px;
     display: flex;
     align-items: center;
}
.uploadButton {
     position: absolute;
     bottom: 15px;
     left: 70%;
     width: 6%;
     /* transform: translateX(-50%); */
     height: 30px;
     display: flex;
     align-items: center;
}
@media (max-width: 500px) {
     .dropArea {
          width: 100%;
     }
}
