

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }
  
  .upload-btn-wrapper .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
  }
  
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.dropArea {
    width: 100%;
    position: relative;
}

.crop-container {
    position: absolute;
    width: 100%;
    height: 90%;
    /* background-color: white; */
}

.controls {
    width: 8%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

.uploadButton {
    position: absolute;
    bottom: -20%;
    right: 0%;
    width: 15%;
    height: 30px;
    text-align: center;
    align-items: center;
    border-radius: 6px;
}
.modal-controls {
    width: 8%;
    position: absolute;
    left: 10%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}
.modal-btn{
    bottom: 0px;
    transform: translate(-50%, -50%);
}
.modal-dialog{
    height:100%;
}
.modal-content{
    height:90%;
}
.cropper{
    width: 100%;
    height:100%;
}

@media (max-width: 500px) {
    .dropArea {
        width: 100%;
        position: relative;
    }

    .crop-container {
        position: absolute;
        width: 100%;
        height: 90%;
        background-color: white;
    }

    .uploadButton {
        width: 30%;
        border-radius: 5px;
    }

    .controls {
        position: absolute;
        bottom: 1%;
        width: 25%;
        height: 10px;
    }
}
