.dropzone {
     border: 2px dashed gray;
     box-shadow: 6px 5px 5px lightgray;
}

.dropArea {
     width: 60vw;
}

.crop-container {
     position: absolute;
     width: 70vw;
     height: 40vh;
     background-color: white;
}

/* .controls {
     position: absolute;
     left: 35vw;
     bottom: 5vh;
     padding: 5px;
     width: 5vw;
     height: 10px;
} */
.controls {
     /* position: absolute; */
     /* margin: 0 auto; */
     /* left: 70vh; */
     /* bottom: 5vh; */
     padding: 5px;
     /* width: 5vw; */
     /* height: 10px; */
     /* margin-left: auto; */
     /* margin-right: auto; */
     /* left: 0; */
     /* right: 0; */
     width: 100%;
     background-color: red;
     text-align: center;
}

.uploadButton {
     position: absolute;
     top: 95%;
     right: 5vw;
     width: 5vw;
     height: 30px;
     text-align: center;
     align-items: center;
     border-radius: 6px;
}

@media (max-width: 500px) {
     .dropArea {
          width: 100%;
     }

     .crop-container {
          position: absolute;
          width: 90vw;
          height: 52vh;
          background-color: white;
     }

     .uploadButton {
          width: 30%;
          border-radius: 5px;
          position: absolute;
          bottom: -3%;
          right: 10%;
     }

     /* .controls {
          width: 20%;
          height: 10px;
     } */
}