.goalCard {
     width: 20rem;
     cursor: pointer;
}
.goalCard:hover {
     border: 2px solid black;
     box-shadow: 0 0 5px black;
}
.milestoneCard {
     border: 1px solid rgb(165, 27, 154);
     margin: 2px;
     border-radius: 15px;
     padding: 5px;
     font-size: 14px;
     color: rgb(113, 30, 121);
     background-color: rgb(245, 219, 243);
}
@media (max-width: 1100px) {
     .goalCard {
          width: 15rem;
     }
}
