table {
  border-collapse: separate;
  border-spacing: 0 1.5em;
}

.bookingRowCard {
  border-radius: 15px;
  border-left: 5px solid black;
}

.table thead th {
  border-bottom: none;
}

.table td,
.table th {
  vertical-align: middle;
}

.bodyTd:first-child {
  border-left: 5px solid gray;
}

.newBookingRowCard {
  border-radius: 15px;
  border: 5px solid black;
}
