table {
  border-collapse: separate;
  border-spacing: 0 1.5em;
}

.bookingRowCard {
  border-radius: 15px;
  box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.21);
}


.table thead th {
  border-bottom: none;
}

.table td, .table th {
  vertical-align: middle
}
