.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100000;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}

.preview__card {
  width: 30%;
  position: absolute;
  top: 15%;
  left: 33%;
}

@media (max-width: 450px) {
  .preview__card {
    width: 60%;
    position: absolute;
    top: 15%;
    left: 15%;
  }
}
