/* .pt .bodyTd:nth-child(6) {
  border-right: 1px solid black;
}

.pt .rowCard:first-child .bodyTd,
.pt .rowCard:nth-child(3) .bodyTd {
  border-top: 1px solid black;
}

.pt .rowCard:first-child .bodyTd:first-child,
.pt .rowCard:nth-child(3) .bodyTd:first-child,
.pt .rowCard:nth-child(3) .bodyTd:nth-child(7) {
  border-left: 1px solid black;
}

.pt .rowCard:first-child .bodyTd,
.pt .rowCard:nth-child(3) .bodyTd {
  border-bottom: 1px solid black;
}

.pt .rowCard:nth-child(3) .bodyTd:nth-child(5),
.pt .rowCard:first-child .bodyTd:nth-child(5) {
  border-right: 1px solid black;
}
.pt .rowCard:first-child .bodyTd:nth-child(6),
.pt .rowCard:nth-child(3) .bodyTd:nth-child(6) {
  border: none;
}

.pt .rowCard:nth-child(1) .bodyTd:nth-child(7) {
  border-left: 1px solid black;
}

.pt .rowCard:nth-child(2) .bodyTd:nth-child(1),
.pt .rowCard:nth-child(2) .bodyTd:nth-child(2),
.pt .rowCard:nth-child(2) .bodyTd:nth-child(3),
.pt .rowCard:nth-child(2) .bodyTd:nth-child(4),
.pt .rowCard:nth-child(2) .bodyTd:nth-child(5) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.pt .rowCard:nth-child(2) .bodyTd:nth-child(1) {
  border-left: 1px solid black;
} */

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

/* table thead th {
  border-bottom: none;
} */

