.top_tabs {
    gap: 40px;
    border-bottom: 0.2px solid #ffffff60;
    display: flex;
    text-align: center;
    padding: 15px 30px 10px 20px;
    position: relative;
}

.border_highlight {
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #704dff;
    transition: all 0.18s ease-in-out;
}

.tabs_cont {
    cursor: pointer;
}
.website_pos {
    left: 16px;
}
.theme_pos {
    left: 100px;
}
.settings_pos {
    left: 185px;
}
.h_text {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
}
