@media screen and (min-width: 481px) and (max-width: 768px) {
   .dropdown-menu{
      width: 100%;
   }
} 

@media screen and (min-width: 320px) and (max-width: 480px) {
     
   .dropdown-menu{
      width: 100%;
   }
}
.display_pic{
   border: 1px solid white;
   object-fit: contain;
   height: 4.5vh;
 }
