#dropdown-basic::after {
  display: none;
}
.dropDown {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 50px;
}
.dropDown:hover {
  border: 2px solid black;
}
