.rowCard {
     text-align: left !important;
}
/* .headerCard {
     text-align: left !important;
} */
/* .rowCard:hover {
     background-color: lightgray;
} */

.bodyTd {
     padding: 1rem 1rem !important;
     text-align: center !important;
     vertical-align: middle !important;
}
