/* 
.rowCard:hover {
  background-color: lightgray;
} */


.bodyTd{
  padding: 1.5rem 1rem !important;
  text-align: center !important;
  vertical-align: middle !important;
}





thead:first-child th{
  border-top: none !important;

}



thead:first-child th:first-child,
thead:first-child th:nth-child(2),
thead:first-child th:last-child
{
  border: none;
}



