.sideNavCont{
    position: fixed; 
    height: 100vh;
    z-index: 2;
    background-color: #242424;
    padding: 0;
}

.topTabs{
    gap: 45px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    display:flex;
    text-align:center;
    padding: 30px 50px 30px 50px;
    
}