@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tabs styling */
.card-body .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: #343a40;
  font-weight: bold;
  flex: nowrap;
}

.card-body .card-body {
  padding: 0.1rem 1.25rem 1.25rem !important;
}

.card-body .card-body .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #636363;
  border-radius: 20px;
  color: white;
  padding: 0.5rem 3rem;
  transition: all 0.5s;
}

.card-body .card-body .nav-link {
  padding: 0.5rem 1rem;
}

.nav-pills a {
  color: #636363;
  white-space: nowrap !important;
  text-align: center !important;
}

.scheduler-badge {
  border: 2px solid skyblue;
  border-radius: 20px;
}

.cards{
  flex-wrap: nowrap !important;
  width: 100%;
  min-width: 350px;
  overflow-x: auto;
}
