.cell {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-height: 60px;
  text-align: center;
  min-width: 150px;
  line-height: 50px;
  vertical-align: middle;
}

.day-row,
.time-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .schedular {
  border: 1px solid #ddd;
} */

.day-row {
  position: sticky;
  top: 0;
  z-index: 999;
}

.wrapper {
  width: 100%;
  overflow: scroll;
  position: relative;
  min-height: 450px;
  height: 450px;
}

.schedular-content {
  position: absolute;
  min-width: 120px;
  z-index: 998;
  height: 70px;
}

.draggable.dragging {
  opacity: 0.5;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.time {
  border-bottom: 1px solid #999;
  width: 100%;
  min-height: 15px;
  position: relative;
}
