.generalSettings {
    padding-block: 20px;
}
.settingOptions{
    font-weight: 600;
    font-size: .9rem;
    padding-inline: 20px;
    padding-block: 8px;
    cursor: pointer;
    color: #ddd;
}
.settingOptions:hover{
    background-color: #303030;
}